node_modules

dataset

*.png

!**/figures/**

models

dist

*.zip

logs

__pycache__

.vscode

ret_img

infura-project-info.md

accounts.py

model.json

privateKey.py

/acc_simul/*/weights
/acc_simul/*/check_info.json
